body {
  background-color: #f0f0f0;
}

.bottom-margin {
  margin-bottom: 30px;
}

.purple-background {
  background-color: #562b81;
}

.code-journal-styling {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: white;
}

.navbar-entries {
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.new-entry-styling {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #292929;
  margin: 30px 0;
}

.center {
  display: flex;
  justify-content: center;
}

.img-placeholder {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

input {
  width: 100%;
  background: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

textarea {
  background: #fff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.save-button,
.new-button {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: #562b81;
  border-style: solid;
  border-color: #562b81;
  border-radius: 4px;
  text-align: center;
  padding: 5px 15px;
}

.new-button {
  text-decoration: none;
}

.spacing {
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #562b81;
  box-shadow: 0 0 1px 1px rgb(150 66 233 / 60%);
}

.save-button:hover,
.new-button:hover {
  cursor: pointer;
}

.entries-styling {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #292929;
  display: inline;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.title-styling {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.notes-styling {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
